.containerDashboard {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.chart-container {
  margin-bottom: 5rem;
  width: 90%;
}

.recharts-default-legend {
  width: 450px;
}

.custom-tooltip {
  border: none;
  padding: 10px;
  background-color: #222;
  border-radius: 5px;
}

.custom-tooltip p {
  color: #fff;
}
