.containerAdmin {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.btnToken {
  margin: 20px;
  background-color: #21d4fd;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
}

.btnToken:hover {
  background-color: #6a7dfe;
}

.btnTokenRemove {
  margin: 20px;
  background-color: #e52e40;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
}

.btnTokenRemove:hover {
  background-color: red;
}

#tokens {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tokens td,
#tokens th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tokens tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tokens tr:hover {
  background-color: #ddd;
}

#tokens th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6a7dfe;
  color: white;
}
